.playlistText{
  color: rgb(255, 255, 255);
  text-align: left;
}
#songName{
  font-weight: bold;
}
#artisName{
  margin-bottom: 10%;
}
.songRow{
  margin-top: 3%;
  text-align: left;
}
.blackBorder {
    border-style: solid;
    border-radius: 25px;
    border-color: rgba(0, 0, 0, 0.85);
    overflow: scroll;
}

.backgroundForm {
  background: rgba(0, 0, 0, 0.85);
  max-height: 650px;
  margin-top: 2%;
}
.blackBorderMob {
    border-style: solid;
    border-radius: 25px;
    border-color: rgba(0, 0, 0, 0.85);
    overflow: scroll;
}

.backgroundFormMob {
  background: rgba(0, 0, 0, 0.85);
  max-height: 410px;
  margin-top: 2%;
}

#searchBtn{
  margin-top: 10%;
}
#searchBtn2{
  margin-top: 16%;
}

.playList{
  color: rgb(255, 255, 255);
}
#removeButton{
  padding: 0 0.5%;
}
