body{
  background-image: url("https://images.pexels.com/photos/1805895/pexels-photo-1805895.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.playlistText{
  color: rgb(255, 255, 255);
  text-align: left;
}
#songName{
  font-weight: bold;
}
#artisName{
  margin-bottom: 10%;
}
.songRow{
  margin-left: 5%;
  margin-top: 3%;
}
.blackBorder {
    border-style: solid;
    border-radius: 25px;
    border-color: rgba(0, 0, 0, 0.85);
}

.backgroundForm{
  background: rgba(0, 0, 0, 0.85);
}
#searchBtn{
  margin-top: 15%;
}
.playList{
  color: rgb(255, 255, 255);
}
