body{
  overflow: scroll;
}

.details img{
  width: 200px;
  height: auto;
}

.card-text {
  display: inline-block;
  color: black;
}

.no-drag {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}


