.welcome-buttons{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn{
  position: relative;
  display: block;
  color: #1DB954;
  font-size: 17px;
  text-decoration: none;
  border: 2px solid #1DB954;
  padding: 14px 50px;
  text-transform: uppercase;
  transition: 1s all ease;
  overflow: hidden;
  margin: 10px;
  border-radius: 50px 50px 50px 50px;
}

.btn::before{
  background: #1DB954;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: all 0.6s ease;
}

#btn1::before{
  width: 100%;
  height: 0;
  transform: translate(-50%, -50%) rotate(45deg);
  text-decoration: none;
}

#btn1:hover::before{
  height: 300%;
  font-size: 17px;
}

#btn2::before{
  width: 100%;
  height: 0;
  transform: translate(-50%, -50%) rotate(45deg);
  text-decoration: none;
}

#btn2:hover::before{
  height: 400%;
  font-size: 17px;
}

p{
  color: white;
  margin: 50px;
  margin-top: 0px;
  text-decoration: none;
}

.logo{

}
